*{
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
 
}
#logotipo{
    
    padding-left: 2%;
}
#logotipo p{
    color: #f1eaea;
}

p {
    text-align: left;
    font-size: 1em;
    color: #111111;
    padding-left: 2%;
    font-weight: bold;
    
}
nav {
    display: flex;
    width: 100%;
    padding-top: 1%;
   
}

nav .box {
    font-size: 25px;
    color: #0c0c0c;
    width: 100%;
    font-weight: bold;
 
}
nav ul{
    float: right;
   
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

nav .box a{
    color:#ffffff;
    padding: 5px 5px;
    float: right;
    letter-spacing: 2px;
    
}

section {
    color: #121312;
    background-color: rgba(225, 225, 226, 0.8);
    box-shadow: 0 0 6px 0 rgb(255, 255, 255, 0.8);
    margin: 60px;
    padding-bottom: 40px;
    padding-right: 25px;
    border-radius: 10px;
    
    
}
.home p {
    color: #0c0c0c;
    font-size: 1.2em ;
    
}

.home h1 {
    color: #0d0e0d;
    text-align: center;
    font-size: 3em;
    
}

.video{
    text-align: center;
    transform: translateY(-25px);
}

.hoteles h1, .restaurantes h1{
    font-size: 3em;
    text-align: center;
}

.lista{
    font-size: 1.5em;
    padding-left: 30px;
}

.lista a{
    color: #0c0c0c;
    font-weight: bold;
}

.hoteles h3 {
    background-color: rgb(39, 185, 112, 0.4);
    padding-left: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 80%;
    font-size: 1.5em;
    color: #f1eaea;

}
.hoteles p, .restaurantes p{
    padding-top: 20px;
}
.restaurantes h3{
    background-color: rgb(39, 185, 112, 0.4);
    padding-left: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 60%;
    font-size: 1.5em;
    color: #f1eaea;

}
.descripcion img{
    height: auto;
    width: 30%;
    padding-left: 30px;
    padding-top: 20px;
}
figcaption{
    color: #191a19;
    padding-left: 30px;
    font-size: 0.9em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:rgb(252, 244, 244, 0.6);
    display: flex;
    height: 50px;

  
   
}
.footer-content p{
    color:#b95046;
    padding: 15px 30px;
    bottom: 0;
   
}
.footer-content{
   padding-left: 0;
 
}
.social-media{
    margin-left: auto;
    padding: 10px 30px;
}

.formulario{
    padding-left: 30px;
    border: none;
  
}


form {
    background: rgba(225, 225, 226, 0.8);
    width: 40%;
    padding:4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: bold;
  
}

form .grupo {
    margin-top: 3em;
    display: grid;
    gap: 0.5em;
    position: relative;
    text-align: center;
}
textarea{
    resize: none;
}

.form_input{
    width: 70%;
    background: none;
    color: #0f0f0f;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #3FA36C;
    font-family: 'Source Serif Pro', serif;
}
.select {
    transform: translateY(15px);
    padding-left: 10px;
    margin-right: 80%;
}


.form_label{
    color: rgb(17, 17, 17);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(-10px);
   
}
.form_submit{
    background-color: #65b388;
    color:#f0f5f2;
    font-family: 'Source Serif Pro', serif;
    font-weight:300;
    font-size: 1.5rem;
    padding: .8em ;
    border: none;
    border-radius: .5em;
}
